*.o
*.a
*.lineno
*.log
*.pid
.deps
src/kens
src/kensctrl
src/ktcptest1
src/ktcptest2
src/ktcptest3
src/ktcptest4
test/echocli
test/echosvr
test/filecli
test/filesvr
Makefile
Makefile.in
configure
config.log
config.status
config.h.in
config.h.in~
src/config.h
aclocal.m4
autom4te.cache
